<%= turbo_frame_tag "list-region" do %>
  <h2 class="text-2xl text-gray-800 pb-3">Followings</h2>
  <% if @followings.count.zero? %>
    <div class="notice p-4 m-2 mx-auto text-sm text-blue-800 rounded-lg bg-blue-50">Currently not following anyone</div>
  <% else %>
    <div class="relative flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg">
      <div class="mx-3 mb-0 pt-3 pb-3 px-1">
        <% @followings.each do |user| %>
          <div class="text-sm text-gray-700 border-b border-slate-200 py-2 flex justify-between">
            <%= link_to "@#{user.username}", profile_path(user), data: { turbo_frame: "_top" }, class: "transition hover:text-blue-700" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
