<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Welcome to Odinbook, <%= @user.username %>!</h1>
<p>Thank you for signing up with us. Have fun connecting with others!</p>
</body>
</html>
