<%= render "shared/navbar" %>
<div class="w-3/5 mx-auto">
  <div class="overflow-hidden">
    <textarea
      id="OrderNotes"
      class="w-full resize-none border-x-0 border-t-0 border-gray-200 px-0 align-top sm:text-sm"
      rows="3"
      placeholder="What's the buzz?"
    ></textarea>

    <div class="flex items-center justify-end gap-2 py-3">
      <button
        type="button"
        class="rounded bg-blue-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-blue-700"
      >
        Post
      </button>
    </div>
  </div>
</div>

